:root {
  --red: rgba(255, 0, 52, 1);
  --light-red: #ff99ae;
  --background-body-grey: rgba(53, 55, 66, 1);
  --white: #f8f9fa;
  --box-shadow-color: #495057;
  --box-shadow-light-color: #ccc;
  --main-font-color: #343a40;
  --nav-font-size: 1.8rem;
  --mid-radius: 1.2rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}
html {
  font-size: 65.5%;
  font-family: "Nunito", sans-serif;
  columns: var(--main-font-color);
}

body {
  background: linear-gradient(
    90deg,
    var(--background-body-grey) 18%,
    var(--red) 89%
  );
}
ul {
  list-style: none;
}
svg {
  color: var(--white);
}
a:link,
a:visited {
  position: relative;
  color: var(--main-font-color);
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 12rem;
  font-size: 1.6rem;
}
.movie .spinner {
  grid-row: 1/-1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}
.results .spinner,
.results .error-message {
  margin: 16rem auto;
}
.error-message {
  font-size: 2.4rem;
  text-align: center;
}
.error-message svg {
  color: var(--red);
  font-size: 3.2rem;
}
.results {
  overflow: hidden;
}
.spinner-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid transparent;
  animation: rotate var(--duration) var(--timing) infinite;
}
.spinner-element--red {
  border-top-color: var(--red);
  --duration: 1.5s;
  --timing: ease-in-out;
}
.spinner-element--gray {
  border-left-color: var(--main-font-color);
  --duration: 2s;
  --timing: ease-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.active,
.watchlist .active {
  opacity: 1;
  visibility: visible;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.container {
  max-width: 120rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5fr 100fr;
  row-gap: 2.4rem;
  margin: 9rem auto;
  background-color: var(--white);
  box-shadow: 0 0 1rem var(--box-shadow-color);
  border-radius: var(--mid-radius);
  padding-top: 3.2rem;
  overflow: hidden;
}
.main-nav {
  font-size: var(--nav-font-size);
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 0 3.2rem;
}
.main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-form-container {
  flex: 0 0 50rem;
  background-color: #ced4da;
  border-radius: 4rem;
}
.search-form-container form {
  display: flex;
  align-items: stretch;
}
.logo span,
.logo svg {
  color: var(--red);
}
.btn,
.search-field {
  border: none;
  border-radius: var(--mid-radius);
}
.search-field {
  background: none;
  font-size: var(--nav-font-size);
  flex-grow: 2;
  padding: 1rem;
}
.search-field:focus {
  outline: none;
}
.btn {
  background: linear-gradient(
    90deg,
    var(--background-body-grey) 18%,
    var(--red) 89%
  );
  color: #f8f9fa;
  padding: 1.6rem 4.8rem;
  border-radius: 4rem;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.search-btn {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.search-btn svg {
  font-size: 1.8rem;
  color: var(--white);
}
.watchlist {
  position: relative;
}
.btn-watchlist {
  position: relative;
  z-index: 9;
}
.watchlist-item-placeholder {
  text-align: center;
  padding-bottom: 1.6rem;
}
.watchlist-items {
  box-shadow: 0 0.5rem 1rem var(--box-shadow-color);
  position: absolute;
  background-color: #ced4da;
  top: 0%;
  padding-top: 6.4rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;
  right: 0;
}
.watchlist-items.hidden {
  transform: translateY(-0.1rem);
}
.watchlist-items h3 {
  font-size: 1.6rem;
}
.watchlist-items svg {
  color: var(--red);
  font-size: 2.4rem;
}

.search-results {
  grid-column: 1/2;
  background-color: #ced4da;
  border-radius: 0 0 0 var(--mid-radius);
}
.movie {
  grid-column: 2/-1;
  border-radius: 0 0 var(--mid-radius) 0;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 3.2rem;
  justify-items: center;
}
.movie a:hover,
.movie a:active {
  color: var(--light-red);
}
.movie a::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--light-red);
  height: 0.2rem;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}
.movie a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.movie .placeholder,
.movie .error-message {
  grid-column: 1/-1;
  max-width: 400px;
  padding: 4.8rem 2.4rem;
  margin: 0 auto;
  text-align: center;
  font-size: 2.4rem;
}
.movie li {
  text-align: center;
  line-height: 2;
}
.movie-title {
  font-size: 4.8rem;
  color: var(--main-font-color);
  font-weight: 7000;
}
.video-type {
  color: var(--red);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 0.8;
}
.movie-poster-container {
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: start;
  overflow: hidden;
}
.movie-poster-container img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.movie-poster-container img:hover {
  transform: scale(1.05);
}
.movie-info-container {
  grid-column: 2/-1;
  place-self: start;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
}
.basic-info {
  margin-top: 2.4rem;
  display: grid;
  row-gap: 0.6rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}
.basic-info span {
  color: var(--background-body-grey);
}
h3 span {
  color: var(--red);
}
.country-list-container {
  align-items: center;
  margin-top: 3.2rem;
  grid-column: 1/-1;
}
.country-list-container h3 {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.country-list {
  padding: 1.2rem;
  box-shadow: 0 0 1rem var(--box-shadow-light-color);
  border-radius: var(--mid-radius);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  row-gap: 1rem;
}
.country-list .country a {
  margin: 1.2rem 0;
  font-size: 1.8rem;
}
.country-list img {
  width: 3.2rem;
  aspect-ratio: 3/2;
}
.results {
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: column;
  margin-top: 0.1rem;
}
.results h3 {
  font-size: 1.6rem;
}
.previev-link:link,
.previev-link:visited {
  display: grid;
  grid-template-columns: 1fr 9fr;
  column-gap: 3rem;
  padding: 1.6rem;
}
.previev-link:hover,
.previev-link:active {
  background-color: var(--light-red);
  transform: translateY(-0.1rem);
}
.previev-link--active {
  background-color: var(--light-red);
  transform: translateY(-0.1rem);
}
.previev-poster-container {
  aspect-ratio: 2/3;
  font-size: 1rem;
}
.previev-poster {
  width: 100%;
  height: 100%;
}
.previev-info p {
  display: inline;
  font-size: 1.2rem;
  font-weight: 400;
}
.pagination {
  padding: 2.4rem;
  height: 10%;
  font-size: 1.6rem;
}
.pagination svg {
  color: var(--main-font-color);
}
.pagination button {
  font-size: 1.2rem;
  width: 6.4rem;
  aspect-ratio: 4/2;
  /* background-color: ; */
  border-radius: var(--mid-radius);
  border: none;
  transition: all 0.3s ease-in-out;
}
.pagination button:hover {
  cursor: pointer;
  background-color: var(--light-red);
}
.btn--next {
  float: right;
}
.country-info-container {
  max-width: 80rem;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--white);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1rem var(--box-shadow-light-color);
  border-radius: var(--mid-radius);
  padding: 2rem;
  font-size: 1.4rem;
  transition: all 0.3 ease-in-out;
  z-index: 9999;
}
.country-info-container .btn-close {
  cursor: pointer;
  border: none;
  background-color: var(--white);
  text-align: right;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.btn-close svg {
  color: var(--light-red);
  font-size: 2.4rem;
}
.country-info {
  margin-top: 2.4rem;
}
.country-name {
  font-size: 2.4rem;
  line-height: 1.2;
}
.country-info-container p {
  line-height: 1.6;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.container-btn-watchlist {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}
.btn-small {
  border: 1px solid var(--box-shadow-light-color);
  padding: 1.2rem;
  font-size: 1.6rem;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}
.btn-small:hover {
  border: 1px solid var(--background-body-grey);
  cursor: pointer;
}
.btn-small svg {
  color: var(--main-font-color);
  transition: all 0.3s ease-in-out;
}
.btn-small.active {
  border: 1px solid var(--background-body-grey);
}
.btn-small.active svg {
  color: var(--red);
}
